<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" media="all" />
  </head>
  <body>
    <div class="header-image">
      <img src="header-image.jpg" />
    </div>
    <main>
      <table>
        <tr class="week-heading">
          <th colspan="5">12th June through 18th June 2023</th>
        </tr>
        <tr class="day-heading">
          <th colspan="5">Mon 12th June 2023</th>
        </tr>

        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>

        <tr>
          <td>Event 1</td>
          <td>Entertainment</td>
          <td>Village Lounge</td>
          <td>08:30</td>
          <td>09:00</td>
        </tr>

        <tr>
          <td>Event 2</td>
          <td>Spiritual & Wellbeing</td>
          <td>Village Gardens</td>
          <td>10:30</td>
          <td>12:30</td>
        </tr>

        <tr>
          <td>Event 3</td>
          <td>Music</td>
          <td>Village Lounge</td>
          <td>14:30</td>
          <td>15:00</td>
        </tr>

        <tr>
          <td>Event 4</td>
          <td>Cards & Games</td>
          <td>Village Green</td>
          <td>14:30</td>
          <td>16:00</td>
        </tr>

        <tr>
          <td>Event 5</td>
          <td>Dancing</td>
          <td>Movie Theatre</td>
          <td>16:30</td>
          <td>17:30</td>
        </tr>

        <tr class="day-heading">
          <th colspan="5">Tue 13th June 2023</th>
        </tr>

        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>

        <tr>
          <td>Event 1</td>
          <td>Entertainment</td>
          <td>Village Lounge</td>
          <td>08:30</td>
          <td>09:00</td>
        </tr>

        <tr>
          <td>Event 2</td>
          <td>Spiritual & Wellbeing</td>
          <td>Village Gardens</td>
          <td>10:30</td>
          <td>12:30</td>
        </tr>

        <tr>
          <td>Event 3</td>
          <td>Music</td>
          <td>Village Lounge</td>
          <td>14:30</td>
          <td>15:00</td>
        </tr>

        <tr>
          <td>Event 4</td>
          <td>Cards & Games</td>
          <td>Village Green</td>
          <td>14:30</td>
          <td>16:00</td>
        </tr>

        <tr>
          <td>Event 5</td>
          <td>Dancing</td>
          <td>Movie Theatre</td>
          <td>16:30</td>
          <td>17:30</td>
        </tr>

        <tr class="day-heading">
          <th colspan="5">Wed 14th June 2023</th>
        </tr>

        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>

        <tr>
          <td>Event 1</td>
          <td>Entertainment</td>
          <td>Village Lounge</td>
          <td>08:30</td>
          <td>09:00</td>
        </tr>

        <tr>
          <td>Event 2</td>
          <td>Spiritual & Wellbeing</td>
          <td>Village Gardens</td>
          <td>10:30</td>
          <td>12:30</td>
        </tr>

        <tr>
          <td>Event 3</td>
          <td>Music</td>
          <td>Village Lounge</td>
          <td>14:30</td>
          <td>15:00</td>
        </tr>

        <tr>
          <td>Event 4</td>
          <td>Cards & Games</td>
          <td>Village Green</td>
          <td>14:30</td>
          <td>16:00</td>
        </tr>

        <tr>
          <td>Event 5</td>
          <td>Dancing</td>
          <td>Movie Theatre</td>
          <td>16:30</td>
          <td>17:30</td>
        </tr>

        <tr class="day-heading">
          <th colspan="5">Thu 15th June 2023</th>
        </tr>

        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>

        <tr>
          <td>Event 1</td>
          <td>Entertainment</td>
          <td>Village Lounge</td>
          <td>08:30</td>
          <td>09:00</td>
        </tr>

        <tr>
          <td>Event 2</td>
          <td>Spiritual & Wellbeing</td>
          <td>Village Gardens</td>
          <td>10:30</td>
          <td>12:30</td>
        </tr>

        <tr>
          <td>Event 3</td>
          <td>Music</td>
          <td>Village Lounge</td>
          <td>14:30</td>
          <td>15:00</td>
        </tr>

        <tr>
          <td>Event 4</td>
          <td>Cards & Games</td>
          <td>Village Green</td>
          <td>14:30</td>
          <td>16:00</td>
        </tr>

        <tr>
          <td>Event 5</td>
          <td>Dancing</td>
          <td>Movie Theatre</td>
          <td>16:30</td>
          <td>17:30</td>
        </tr>

        <tr class="day-heading">
          <th colspan="5">Fri 16th June 2023</th>
        </tr>

        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Location</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>

        <tr>
          <td>Event 1</td>
          <td>Entertainment</td>
          <td>Village Lounge</td>
          <td>08:30</td>
          <td>09:00</td>
        </tr>

        <tr>
          <td>Event 2</td>
          <td>Spiritual & Wellbeing</td>
          <td>Village Gardens</td>
          <td>10:30</td>
          <td>12:30</td>
        </tr>

        <tr>
          <td>Event 3</td>
          <td>Music</td>
          <td>Village Lounge</td>
          <td>14:30</td>
          <td>15:00</td>
        </tr>

        <tr>
          <td>Event 4</td>
          <td>Cards & Games</td>
          <td>Village Green</td>
          <td>14:30</td>
          <td>16:00</td>
        </tr>

        <tr>
          <td>Event 5</td>
          <td>Dancing</td>
          <td>Movie Theatre</td>
          <td>16:30</td>
          <td>17:30</td>
        </tr>
      </table>
    </main>
  </body>
</html>
